.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/.kotlin/
android/app/debug/
android/app/profile/
android/app/release/
*.iml
.idea/
.vscode/
android/local.properties
**/ephemeral/
.dart_tool/chrome-device/
